
header {
    background-color: $tertiaryColor;
    padding: 1vh 0;

    .img-container {

        img {
            height: 50px;
            width: width;
        }
    }
    
    nav {
        .container-fluid {
            justify-content: end;
        }

        .nav-link:hover {
            color: $primaryColor;
        }
    }
}

